* {
    font-family: 'Calistoga', cursive;
    background: bisque;
}

#container {
    color: navy;
    border: 5px solid purple;
    padding: 2%;
}

.title {
    text-align: center;
    color: royalblue;
    font-weight: 600;
}

/* a.hover {

} */