
<div class="message">
    <p class="text">"{{text}}"</p>
    <p class="author"><span>-</span> {{author}}</p>
    <div class="todaysImage">
        <img src="{{imageUrl}}" alt="Image related to {{author}}">
    </div>
</div>



